@page
@model WynikiSkokow.Pages.Wynik.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Skoczek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Skoczek.ID" />
            <div class="form-group">
                <label asp-for="Skoczek.Imie" class="control-label"></label>
                <input asp-for="Skoczek.Imie" class="form-control" />
                <span asp-validation-for="Skoczek.Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skoczek.Nazwisko" class="control-label"></label>
                <input asp-for="Skoczek.Nazwisko" class="form-control" />
                <span asp-validation-for="Skoczek.Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skoczek.Kraj" class="control-label"></label>
                <input asp-for="Skoczek.Kraj" class="form-control" />
                <span asp-validation-for="Skoczek.Kraj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skoczek.Skok1" class="control-label"></label>
                <input asp-for="Skoczek.Skok1" class="form-control" />
                <span asp-validation-for="Skoczek.Skok1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skoczek.Skok2" class="control-label"></label>
                <input asp-for="Skoczek.Skok2" class="form-control" />
                <span asp-validation-for="Skoczek.Skok2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skoczek.Punkty" class="control-label"></label>
                <input asp-for="Skoczek.Punkty" class="form-control" />
                <span asp-validation-for="Skoczek.Punkty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skoczek.Miejsce" class="control-label"></label>
                <input asp-for="Skoczek.Miejsce" class="form-control" />
                <span asp-validation-for="Skoczek.Miejsce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
